.container {
    .row {
        .col1 {
            width: 50%;
            margin: 0px;
        }
        .col2 {
            width: 50%;
            float: right;
            margin: 1%;
        }
    }
    tr {
        text-align: center;
    }
}